@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Patrick+Hand&display=swap');

:root{
    --light-body: #e7e7e7;
    --light-main: #4d5bf9;
    --light-second: #ff4d89;
    --light-text: #000;
    --light-text-i: #000;
    --light-hover: gray;
    --light-btn: #2b8eff;

    --dark-body: #242424;
    --dark-main: #343434;
    --dark-second: #242526;
    --dark-text: #4d5bf9;
    --dark-text-i: #f0f0f0;
    --dark-hover: #1f1f1f;
    --dark-btn: #ff4d89;

    --shadow: 2px -5px 2px -3px rgba(0,0,0,0.25), 2px -5px 2px -3px rgba(0,0,0,0.25), 2px -5px 2px -3px rgba(0,0,0,0.25);
    --shadow-ii: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    --shadow-i: -1px 1px 4px -1px rgba(0,0,0,0.27), -1px 1px 4px -1px rgba(0,0,0,0.27), -1px 1px 4px -1px rgba(0,0,0,0.27);

    --font-main: 'Varela Round', sans-serif;
    --font-i: 'Acme', sans-serif;
    --font-ii: 'Lobster', cursive;
    --font-logo: 'Patrick Hand', cursive;
}

.footer{
    /* position: fixed; 
    position: absolute;
    bottom: 0;
    z-index: 100;*/
    background-color: var(--bg-main);
    box-shadow: var(--shadow);
    user-select: none;
    width: 100%;
}

.footer-body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}

.feet{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-title{
    color: var(--bg-text);
    font-size: 17px;
    margin: 0 auto;
}

.feet_col{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    gap: 5px;
    width: min-content;
    margin: 0 auto;
}

.feet_col a{
    color: #f0f0f0;
    text-decoration: none;
    font-size: 12px;
    opacity: 75%;
    width: min-content;
}

.feet_col a:hover, .feet_col a:focus{
    opacity: 100%;
    transform: translateX(10px);
    transition: .3s;
}

/* ICONS */

.icon-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.footer-icon{
    min-width: 28px;
    height: 28px;
    padding: 5px;
    border-radius: 50%;
    background-color: #f0f0f0;
    opacity: 85%;
}

.footer-icon:hover, .footer-icon:focus{
    opacity: 100%;
}

.fb{
    color: #4267b2;
}

.ig{
    color: #8a3ab9;
}

.tw{
    color: #1da1f2;
}

.git{
    color: #171515;
}

.footer-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer-form input{
    height: 35px;
    outline: none;
    border-radius: 18px;
    width: 200px;
}

.footer-form input[type=email]{
    background-color: #f0f0f0;
    border-radius: 15px;
    font-size: 15px;
    padding: 0 5px;
    width: 100%;
    display: flex;
    text-align: center;
}

.footer-form input[type=submit]{
    background-color: #ff4d89;
    font-size: 16px;
    color: #f0f0f0;
    width: 100%;
}

.footer-form input[type=submit]:focus{
    transition: .3s;
    background-color: var(--bg-second);
}

@media(max-width: 768px){
    .footer-body{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 80px;
        grid-template-areas: 
            "a a b b"
            "c c c c"
            "d d d d";
        padding: 10px;
        gap: 5px;
    }

    .feet-one{
        grid-area: a;
    }

    .feet-two{
        grid-area: b;
    }

    .feet-three{
        grid-area: c;
    }

    .feet-four{
        grid-area: d;
    }
}

@media (max-width: 480px){
    
.footer-body{
    padding: 5px;
}

.footer-title{
    font-size: 14px;
}

.feet_col{
    gap: 3px;
}

.feet_col a{
    font-size: 10px;
}

.footer-icon{
    min-width: 22px;
    height: 22px;
    padding: 3px;
}

.footer-form input{
    height: 30px;
}
.footer-form input[type=email]{
    height: 30px;
}
}