@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Patrick+Hand&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}

*::selection{
    background-color: #7a7676;
    color: #fff;
}

body{
    background: transparent;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body img{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

body > div{
    width: 90vw;
    max-width: 500px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
    border-radius: 5px;
    animation: cool .5s;
}

h3{
    font-size: 25px;
    color: #fff;
    margin: 0 auto;
    width: max-content;
    padding: 0 0 10px 0;
}

p{
    color: #dbdbdb;
    font-size: 18px;
    padding: 0 0 10px 0;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

form label{
    color: #dbdbdb;
    font-size: 13px;
    font-weight: 600;
}

form input, a{
    font-size: 17px;
    outline: none;
    border: none;
    padding: 5px;
}
form input[type=email]{
    height: 20px;
    border-bottom: 1px solid #f0f0f0;
    background: none;
    color: #dbdbdb;
}

form input[type=submit], a{
    width: 80px;
    height: 33px;
    margin: 0 auto;
    margin-right: 0;
    background: #4d5bf9;
    color: #dbdbdb;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


@keyframes cool{
    0%{
        transform: translateX(-100px) scale(0.9);
        opacity: 0;
    }
    70%{
        transform: translateY(0) scale(0.9);
        opacity: .6;
    }
    100%{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}