{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReviewMe - Password Reset</title>

    <link rel="stylesheet" href="{% static '/css/password_reset.css' %}">
</head>
<body>
    <img src="{% static '/images/goku_wallpaper.jpg' %}">
    <div> 
        <h3>Enter new password</h3>
        
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        
        <form method="POST">
            {% csrf_token %} 
            
            {{form}} 
            <input type="submit" name="Update Password">
        
        </form>
    </div>
</body>
</html>