{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Policy</title>
    
    <link rel="stylesheet" href="{% static '/css/terms.css' %}">
    <link rel="stylesheet" href="{% static '/fontawesome/css/all.css' %}">

</head>
<body class="slider dark" id="body">
    <div>
            <!-- SCROLL BUTTON -->
        <div class="scroll-btn">
            <i class="fa-solid fa-chevron-up" id="scroll-up" onclick="topFunction()"></i>
            <i class="fa-solid fa-chevron-down" id="scroll-down" onclick="downFunction()"></i>
            <button id="scroll-btn" onclick="showScroll()">GoTo</button>
        </div>

        <h2>Terms and Policy</h2>
        <section>
            <h3>Terms governing comments</h3>
            <p>
                Moderation rules
                    We ask that all comments be brief, polite, on subject and legally sound.
                    
                    We welcome debate and dissent, but personal attacks (on authors, other users or any individual), persistent trolling and mindless abuse will not be tolerated.
                    
                    We acknowledge criticism of the content we publish, but will not allow deliberate or dishonest misrepresentation of anyone, including the Royal Society, our Fellows or our staff to be published on our website.
                    
                    We will use the following guidelines to determine whether a comment should be published. We will not publish comments which:
                    
                     Are considered likely to disrupt, provoke, attack or offend others
                    Are racist, sexist, homophobic, sexually explicit, abusive or otherwise objectionable
                    Contain swear words or other language likely to offend
                    Break the law or condone or encourage unlawful activity. This includes breach of copyright, libel, defamation and contempt of court
                    Advertise products or services for profit or gain
                    Are completely anonymous, or are seen to impersonate someone else
                    Include someone else's personal data (such as contact details)
                    Are written in anything other than English
                    Describe or encourage activities which could endanger the safety or well-being of others
                    Contain the same, or similar, content posted multiple times
                    Are considered to be off-topic for the discussion
                    Are inflammatory or written with the intention of disrupting the conversation
                    We operate a moderation policy on this service. We reserve the right to refuse publication or remove a comment based on any of the above criteria.
                    
                    Please note that the Society’s decision about whether a comment should be published or removed is final. In most cases we are unable to enter into discussions about why a comment has been refused.
                    
                    Participants who seriously, persistently or willfully ignore the community guidelines or our terms and conditions will have their posting privileges withdrawn.
            </p>
        </section>

        <section>
            <h3>Terms governing comments</h3>
            <p>
                Moderation rules
                    We ask that all comments be brief, polite, on subject and legally sound.
                    
                    We welcome debate and dissent, but personal attacks (on authors, other users or any individual), persistent trolling and mindless abuse will not be tolerated.
                    
                    We acknowledge criticism of the content we publish, but will not allow deliberate or dishonest misrepresentation of anyone, including the Royal Society, our Fellows or our staff to be published on our website.
                    
                    We will use the following guidelines to determine whether a comment should be published. We will not publish comments which:
                    
                     Are considered likely to disrupt, provoke, attack or offend others
                    Are racist, sexist, homophobic, sexually explicit, abusive or otherwise objectionable
                    Contain swear words or other language likely to offend
                    Break the law or condone or encourage unlawful activity. This includes breach of copyright, libel, defamation and contempt of court
                    Advertise products or services for profit or gain
                    Are completely anonymous, or are seen to impersonate someone else
                    Include someone else's personal data (such as contact details)
                    Are written in anything other than English
                    Describe or encourage activities which could endanger the safety or well-being of others
                    Contain the same, or similar, content posted multiple times
                    Are considered to be off-topic for the discussion
                    Are inflammatory or written with the intention of disrupting the conversation
                    We operate a moderation policy on this service. We reserve the right to refuse publication or remove a comment based on any of the above criteria.
                    
                    Please note that the Society’s decision about whether a comment should be published or removed is final. In most cases we are unable to enter into discussions about why a comment has been refused.
                    
                    Participants who seriously, persistently or willfully ignore the community guidelines or our terms and conditions will have their posting privileges withdrawn.
            </p>
        </section>

        <section>
            <h3>Terms governing comments</h3>
            <p>
                Moderation rules
                    We ask that all comments be brief, polite, on subject and legally sound.
                    
                    We welcome debate and dissent, but personal attacks (on authors, other users or any individual), persistent trolling and mindless abuse will not be tolerated.
                    
                    We acknowledge criticism of the content we publish, but will not allow deliberate or dishonest misrepresentation of anyone, including the Royal Society, our Fellows or our staff to be published on our website.
                    
                    We will use the following guidelines to determine whether a comment should be published. We will not publish comments which:
                    
                     Are considered likely to disrupt, provoke, attack or offend others
                    Are racist, sexist, homophobic, sexually explicit, abusive or otherwise objectionable
                    Contain swear words or other language likely to offend
                    Break the law or condone or encourage unlawful activity. This includes breach of copyright, libel, defamation and contempt of court
                    Advertise products or services for profit or gain
                    Are completely anonymous, or are seen to impersonate someone else
                    Include someone else's personal data (such as contact details)
                    Are written in anything other than English
                    Describe or encourage activities which could endanger the safety or well-being of others
                    Contain the same, or similar, content posted multiple times
                    Are considered to be off-topic for the discussion
                    Are inflammatory or written with the intention of disrupting the conversation
                    We operate a moderation policy on this service. We reserve the right to refuse publication or remove a comment based on any of the above criteria.
                    
                    Please note that the Society’s decision about whether a comment should be published or removed is final. In most cases we are unable to enter into discussions about why a comment has been refused.
                    
                    Participants who seriously, persistently or willfully ignore the community guidelines or our terms and conditions will have their posting privileges withdrawn.
            </p>
        </section>

        <div id="terms-footer">
            {% include 'accounts/footer.html' %}
        </div>
    </div>

    <script src="{% static '/js/main.js' %}"></script>
</body>
</html>